:host {
  display: block;
  margin-top: 2rem;
  margin-left: 2rem;
}
mat-form-field {
   
  display: flex;
  flex-direction: column;
   
  flex: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  align-content: center;
}
 button {
  flex: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  align-content: center;
 }
mat-spinner {
  margin: auto;
}
