<div class="flex-container"> 
     
 <input #searchBox id="search-box"  class="child1"  type="text" (input)="search(searchBox.value)" 
         placeholder="Search items...">

 <div class="child2">
 <mat-accordion  multi="true">
  <mat-expansion-panel  [expanded]="true" *ngFor="let post of hers.posts">
    <mat-expansion-panel-header>
        {{ post.title }}
    </mat-expansion-panel-header> 
             <div class="post-image">
      <img [src]="post.imagePath" [alt]="none">
    </div>
    <p>{{ post.content }} </p>
    <mat-action-row>   
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</div>
</div>

