

 <input autocomplete="off" #searchBox id="search-box"  class="child1" (onblur)="myclear(searchBox)" type="text" (input)="search(searchBox.value)" 
         placeholder="Search items...">
  
  <mat-expansion-panel  [expanded]="false" *ngFor="let post of hers.posts">  
    <mat-expansion-panel-header>
   
    </mat-expansion-panel-header> 
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="none">
    </div>
    <p>{{ post.content }} </p>
    <mat-action-row>  
    
    </mat-action-row>
  
 
  </mat-expansion-panel>

 

