mat-sidenav-container {
  width: 100%;
  height: calc(100vh - 64px);
}

mat-sidenav {
  background-color: red;
  box-shadow: 10px 0 6px rgba(0, 0, 0, .24);
}

div {
  display: flex;
  align-items: 100%;
  background-color: yellow;
  height: 4000px;
  width: 100%;

}

router-outlet {
  display: flex;
  align-content: center;

}

mat-toolbar {
  height: 64px;
  position: relative;

}

.example-spacer {
  flex: auto;
}
